/* index.css */

/* @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap'); */

/* @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or main CSS file */

html,
body,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux, cursive";
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure it's above other elements */
}


.flipv {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.flipv:hover {
  color: rgb(255, 215, 0);
  transform: scale(1.15);
  transition: color 0.3s, transform 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.animated-background {
  background: linear-gradient(45deg,
      #e5e5e5,
      #cacaca,
      #afafaf,
      #949494,
      #797979);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-background2 {
  background: linear-gradient(45deg,
      #acc7e2,
      #b6d2f0,
      #95b1d4,
      #779acc,
      #4e81c7);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.blend-mode {
  color: white;
  mix-blend-mode: difference;
}

.byoc {
  background-color: #004d43;
}

.swiper {
  width: 300px;
  height: 350px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  /* font-size: 22px; */
  font-weight: bold;
  color: #000;
}

.swiper-slide:nth-child(1n) {
  /* background-color: rgb(206, 17, 17); */
  background-color: #b43838;
}

.swiper-slide:nth-child(2n) {
  background-color: #39a8a8;
}

.swiper-slide:nth-child(3n) {
  background-color: #3ba83b;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; 
  border-radius: 6px;/* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2c2a2a;
  border-radius: 10px; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #2c2c2a; /* Scrollbar thumb color */
  border-radius: 6px; /* Scrollbar thumb rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2c2a; /* Scrollbar thumb color on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1;
  
  /* scrollbar-track-border-radius: 6px; Scrollbar thumb and track color */
}
